<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} - %msg%n"/>
        </Console>

        <File name="LogToRegJournal" fileName="C:\\logs\\registrations.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} - %msg%n"/>
        </File>
        <File name="LogToOpJournal" fileName="C:\\logs\\operations.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="one.nmu.pmzi.RegistrationJournal" level="info" additivity="false">
            <AppenderRef ref="LogToRegJournal"/>
        </Logger>
        <Logger name="one.nmu.pmzi.OperationJournal" level="info" additivity="false">
            <AppenderRef ref="LogToOpJournal"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>